<?xml version="1.0"?>
<!--
/**
 * Copyright © MageKey. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mgk_backendimprove" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Backend Improves</label>
            <tab>advanced</tab>
            <class>mgk-backendimprove</class>
            <resource>MageKey_BackendImprove::config</resource>
            <group id="product" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Settings</label>
                <attribute type="expanded">1</attribute>
                <field id="gridchangecategory" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Change Category on Product Grid</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
